
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> uploads & coverage ###
/public/uploads/documents/*
!/public/uploads/documents/.gitkeep
/public/uploads/vehicules/*
!/public/uploads/vehicules/.gitkeep
/public/coverage/
###< uploads & coverage ###
